build
screenshots
data/*
pkg/
web/WEB-INF/classes/
web/js/bae-build.js*
r
**/.DS_Store

/nbproject/private/
/nbbuild/
/dist/
backup
scratch

/bin/
.gradle
gradle*
build.gradle

alpha-to-beta
/TEST-*

node_modules
npm-debug.log
tstest/app/bae-test-build.js*
