<p>
	With <b>BioAssay Express</b> for the first time you can:
</p>

<ul>
	<p><li>Explore the similarity of assays within and between organizations</li></p>

	<p><li>Browse and group assays based upon meaningful, detailed criteria like cell type, target, readouts, assay kit, etc.</li></p>
	
	<p><li>Identify similar assays both early on for assay validation and later on for greater confidence in SAR (structure activity 
	relationship) trends from a standardized set of over 3500 meticulously, expert-annotated MLPCN “Best of PubChem” assays</li></p>
	
	<p><li>Iterate on predictions and experimental validation with greater confidence by comparing <i>apples-to-apples</i> with objective 
	criteria for assay similarity</li></p>
</ul>

<p>
	The first step involves a streamlined interface to make it as easy as possible for scientists to annotate their assays
	using a collection of standardized terminology:
</p>

<p align="center">
	<a href="assign.jsp?pubchemAID=346" target="_blank">
		<img class="resize50" src="images/snap_bae_annotating.png" alt="Annotation in progress">
	</a>
</p>

<p>
	To help with the underlying data, we have created the <b>Common Assay Template</b>, which draws from a number of underlying
	vocabularies created by domain experts, including the
	<a href="http://bioassayontology.org/" target="_blank">BioAssay Ontology</a> (BAO),
	<a href="http://drugtargetontology.org/" target="_blank">Drug Target Ontology</a> (DTO),
	<a href="http://www.clo-ontology.org/" target="_blank">Cell Line Ontology</a> (CLO) and others.
	When text is available (e.g. for annotating legacy data), the interface makes use of machine learning &amp; natural language
	processing to suggest terms, speeding up the process.</p>
	
<p>
	We have used this to 
	<a href="curated.jsp">curate more than three thousand assays</a> from 
	<a href="https://pubchem.ncbi.nlm.nih.gov/" target="_blank">PubChem</a>.
	This growing collection of curated assays can be <a href="search.jsp">searched</a>, 
	<a href="explore.jsp">explored</a> or perused one at a time:
</p>

<ul>
	<li>Click <a id="random_curated">here</a> to view a random assay that has been curated by an expert...</li>
	<li>... or <a id="random_uncurated">here</a> for a random assay that has yet to be curated.</li>
</ul>

<h2>More information</h2>

<p>Slides:</p>

<ul>
	<li><a href="https://www.slideshare.net/aclarkxyz/cdd-bioassay-express-expanding-the-target-dimension-how-to-visualize-a-lot-of-sar" target="_blank">
		Expanding the target dimension: How to visualize a lot of SAR
	</a></li>
</ul>

<p>Blog posts:</p>

<ul>
	<li><a href="https://www.collaborativedrug.com/buzz/2016/08/04/bioassay-express-a-bit-of-an-unveil/" target="_blank">
		BioAssay Express: a bit of an unveil
	</a></li>
	
	<li><a href="https://www.collaborativedrug.com/buzz/2016/10/04/bioassay-express-finding-assays-and-doing-stuff-with-them/" target="_blank">
		BioAssay Express: finding assays and doing stuff with them
	</a></li>
	
	<li><a href="https://cheminf20.org/2016/08/25/bioassay-express-now-with-molecules/" target="_blank">
		BioAssay Express: now with molecules
	</a></li>

	<li><a href="https://cheminf20.org/2016/08/28/bioassay-express-downloading-sar-datasets/" target="_blank">
		BioAssay Express: downloading SAR datasets
	</a></li>
</ul>

<p>Literature publications:</p>

<ul>
	<li>
		BioAssay templates for the semantic web: 
		<a href="https://peerj.com/articles/cs-61" target="_blank"><i>PeerJ Computer Science</i> 2:e61 (2016)</a>
	</li>
	
	<li>
		Fast and accurate semantic annotation of bioassays exploiting a hybrid of machine learning and user confirmation: 
		<a href="https://peerj.com/articles/524" target="_blank"><i>PeerJ</i> 2:e524 (2014)</a>
	</li>
</ul>

